
input {
    outline: none;
    background-color:black;
    width: 48%;
    color: gray !important;
    border-radius: 5px;
    padding: 3px;
  }


div.modes button {
background: none;
border: none;
cursor: pointer;
color:#135a97;
}

div.modes {
position: absolute;
bottom: 3px;
right: 10px;
}

div.modes button:hover {
color:#807861;
}

div.iframe-link {
color: #64AD27;
}

div.iframe-link:hover{
color: #448D07;
}

div.normal {
color: #1C8173;
}

div.link {
color: #337ab7;
text-decoration: none;
}

div.link:hover {
color: #135a97;
}

.magnolia iframe {
position: fixed;
left: 0;
width: 100%;
height: calc(100% - 127px);
border: none;
}

input:focus {
color: black !important;
background-color: #202020;
}

.magnolia_seperator {
background-color: transparent;
border: none;
font-size: 16;
border-radius: 5px;
margin-left: 3px;
margin-right: 3px;
padding-top: 3px;
padding-bottom: 3px;
outline: none;
display: inline-block;
text-align: center;
width: 3%;
min-width: 20px
}

.magnolia_seperator:focus {
background-color: #202020;
}

.magnolia {
padding-top: 20px;
padding-bottom: 30px;
font-family: monospace;
/* background-color: black; */
color: #1C8173;
display:flex;
justify-content:center;

height: 100%;
}

.magnolia_decoration {
width: 15px;
font-size: 20px !important;
margin-right: 6px;
margin-top: 6px;
vertical-align: top;
display: inline-block;
cursor: pointer;
}

.magnolia .magnolia_decoration.magnolia_completed {
color: gray;
}

.magnolia_error {
color: red;
padding-left: 5px;
}


.magnolia p {
color: #F6E7BA;
font-size: 22;
margin: 0;
padding: 0;
padding-left: 22px;
}

.magnolia ul {
margin: 0;
margin-left: 9px;
padding-left: 26px;
border-left-width: 1px;
border-left-style: solid;
border-left-color: #202020;
}

.magnolia li {
list-style: none;
}

.magnolia_hidden {
display: none;
}

.magnolia div.magnolia_ce_wrapper {
display: inline-block;
position: relative;
padding: 0;
margin: 0;
width: 90%;
cursor: pointer;
}

.magnolia div.magnolia_ce_top {
position:absolute;
top: 0;
left: 0;
z-index: 1;
min-width: 100px;
min-height: 22px;
}

.magnolia div.magnolia_ce_bottom {
z-index: 0;
min-width: 100px;
min-height: 22px;
}

.magnolia div.magnolia_ce {
display: inline-block;
outline: none;
border: none;
padding: 0;
padding-left: 4px;
padding-right: 4px;
margin: 0;
font-weight: 500;
font-size: 22px;
font-family: monospace;
min-height: 31.4333px;
white-space: pre-wrap;       /* css-3 */
white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.magnolia div.magnolia_ce.magnolia_focused {
background-color: #135a97;
color:#F6E7BA;
border-radius: 3px;
padding-left: 4px;
padding-right: 4px;
}


.magnolia div.magnolia_ce_top.magnolia_focused {
background-color: #135a97;
color:white;
}

.magnolia div.magnolia_ce.magnolia_completed {
text-decoration: line-through;
color: gray;
}

.magnolia div.magnolia_ce.magnolia_transparent {
color:transparent!important;
background-color:transparent!important;
}

.magnolia div.breadcrumb-wrapper {
margin: 0;
padding-bottom: 10px;
font-size: 22px;
display: inline-block;
}

.magnolia div.title {
margin: 0;
padding-bottom: 10px;
}

.magnolia .breadcrumb-text {
font-weight: 100;
color: #807861;
cursor: pointer;
}

.magnolia .breadcrumb-text:hover {
color: #A09881
}

.magnolia .breadcrumb-sym {
font-weight: 100;
padding-left: 5px;
padding-right: 5px;
display: inline-block;
color: #DB9E31;

}

.magnolia .magnolia_note {
  margin-left: 30px;
  margin-right: 30px;
  margin-top:10px;
  margin-bottom:10px;
  color:#1C8173;
}

.magnolia .magnolia_note li {
  list-style: unset;
}

.magnolia .magnolia_note p {
  color: unset;
  font-size: unset;
  margin: unset;
  padding: unset;
  padding-left: unset;
}
  
.magnolia .magnolia_note ul {
  margin: unset;
  margin-left: unset;
  padding-left: unset;
  border-left-width: unset;
  border-left-style: unset;
  border-left-color: unset;
}