
div.modes button {
    background: none;
    border: none;
    cursor: pointer;
    color:#135a97;
}

div.modes {
    position: absolute;
    bottom: 3px;
    right: 10px;
}

div.modes button:hover {
    color:#807861;
}

