
div.whose button {
    background: none;
    border: none;
    cursor: pointer;
    color:#135a97;
}

div.whose {
    position: absolute;
    top: 3px;
    right: 10px;
}

div.whose button:hover {
    color:#807861;
}

